.search-container{
    width: 70%;
    display: block;
    padding-top: 6.6rem;
    
    
  }

  .placeholder{
    align-items: center;
    justify-content: center;
    font-size: 30%;
    
  }

  #search-bar::placeholder {
    font-size: 16px;
}
  
  input#search-bar{
    /* align-items: center;
    justify-content: center; */
    margin: 0 auto;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 1.3rem;
    border: 1px solid #D0CFCE;
    outline: none;
    border-radius: 25px;
    &:focus{
      border: 1px solid #008ABF;
      transition: 0.35s ease;
      color: #008ABF;
      &::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &::-moz-placeholder {
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &:-ms-placeholder {
       transition: opacity 0.45s ease; 
         opacity: 0;
         
       }    
     }
     
   }
  
  .search-icon{
    position: relative;
    float: right;
    width: 65px;
    height: 65px;
    top: -54px;
    right: -45px;
  }

  input{
    align-items: center;
    justify-content: center;
  }